
@{
    ViewBag.Title = "Flat";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<p style="margin: 0px; height: 0px;">&nbsp;</p>

<div class="div4" style="width: 1000px;">
    <div style="position: relative; top: -10px; display: block;" id="gallery">
        <div style="left: 180.5px; width: 625px; height: 345px; top: 20px; opacity: 1; z-index: 4;" class="carousel-feature carousel_big_img">
            <a href="@Url.Action("Flat","Home")">
                <img style="width: 625px; height: 345px;" class="carousel-image" alt="" src="~/Content/images/0_77633600_1351448634_img.jpg" href="#">
            </a>

            <div style="display: block; opacity: 0.99;" class="carousel-caption">

                <div class="info_price" style="z-index:999;">
                    <span>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="80%">
                                        <span class="price_1">3000</span>
                                    </td>
                                    <td class="currency_2">
                                        рублей<br>в сутки
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <div class="allprices">
                        <div class="allprices_title">
                            Стоимость проживания:
                        </div>
                        <div class="allprices_prices">
                            <p class="allprices_list">3000 р/сут<span class="allprices_list_black"> - стандартная стоимость</span></p>
                            <p class="allprices_list">2500 р/сут<span class="allprices_list_black"> - от 7 суток</span></p>
                            <p class="allprices_list">2000 р/сут<span class="allprices_list_black"> - от 30 суток</span></p>
                            <p class="allprices_list">2000 р/ночь<span class="allprices_list_black"> - с 21.00 до 9.00</span></p>
                            <p class="allprices_list">1500 р/3часа<span class="allprices_list_black"> - время любое</span></p>
                            <p class="allprices_list">500 р/час<span class="allprices_list_black"> - каждый последующий</span></p>
                        </div>
                    </div>
                </div>



                <div>
                    <div class="id_pimpa" style="" align="left">
                        <!--<b class="id_p" style="margin-top: 20px !important;"></b>-->
                        ID: 01
                    </div>
                    <div class="tbl">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="punkt">Красногорск1</b> | <b class="name">Двухкомнатные аппартаменты</b>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td class="adres_info">Адрес здесь</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p></p>
            </div>
        </div>

        <div style="left: 474px; width: 512px; height: 286px; top: 50px; opacity: 0.4; z-index: 1;" class="carousel-feature carousel_small_img">
            <a href="#"><img style="width: 512px; height: 286px;" class="carousel-image" alt="" src="~/Content/images/0_12312700_1418251437_img.jpg" href="#"></a>
            <div style="display: none;" class="carousel-caption">
                <p style="padding:0; margin:0;"></p>
                <div class="info_price" style="z-index:999;">
                    <span>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="80%">
                                        <span class="price_1">3000</span>
                                    </td>
                                    <td class="currency_2">
                                        рублей<br>в сутки
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <div class="allprices">
                        <div class="allprices_title">
                            Стоимость проживания:
                        </div>
                        <div class="allprices_prices">
                            <p class="allprices_list">3000 р/сут<span class="allprices_list_black"> - стандартная стоимость</span></p>
                            <p class="allprices_list">2500 р/сут<span class="allprices_list_black"> - от 7 суток</span></p>
                            <p class="allprices_list">2000 р/сут<span class="allprices_list_black"> - от 30 суток</span></p>
                            <p class="allprices_list">2000 р/ночь<span class="allprices_list_black"> - с 21.00 до 9.00</span></p>
                            <p class="allprices_list">1500 р/3часа<span class="allprices_list_black"> - время любое</span></p>
                            <p class="allprices_list">500 р/час<span class="allprices_list_black"> - каждый последующий</span></p>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="id_pimpa" style="" align="left">
                        <b class="id_p" style="margin-top: 20px !important;">ID: 01</b>
                    </p>
                    <div class="tbl">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="punkt">Красногорск2</b> | <b class="name">Апартаменты с одной спальней</b>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td class="adres_info">Адрес здесь</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p></p>
            </div>
        </div>


        <div style="left: 474px; width: 512px; height: 286px; top: 50px; opacity: 0.4; z-index: 1;" class="carousel-feature carousel_small_img">
            <a href="#"><img style="width: 512px; height: 286px;" class="carousel-image" alt="" src="~/Content/images/0_12312700_1418251437_img.jpg" href="#"></a>
            <div style="display: none;" class="carousel-caption">
                <p style="padding:0; margin:0;"></p>
                <div class="info_price" style="z-index:999;">
                    <span>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="80%">
                                        <span class="price_1">3000</span>
                                    </td>
                                    <td class="currency_2">
                                        рублей<br>в сутки
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <div class="allprices">
                        <div class="allprices_title">
                            Стоимость проживания:
                        </div>
                        <div class="allprices_prices">
                            <p class="allprices_list">3000 р/сут<span class="allprices_list_black"> - стандартная стоимость</span></p>
                            <p class="allprices_list">2500 р/сут<span class="allprices_list_black"> - от 7 суток</span></p>
                            <p class="allprices_list">2000 р/сут<span class="allprices_list_black"> - от 30 суток</span></p>
                            <p class="allprices_list">2000 р/ночь<span class="allprices_list_black"> - с 21.00 до 9.00</span></p>
                            <p class="allprices_list">1500 р/3часа<span class="allprices_list_black"> - время любое</span></p>
                            <p class="allprices_list">500 р/час<span class="allprices_list_black"> - каждый последующий</span></p>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="id_pimpa" style="" align="left">
                        <b class="id_p" style="margin-top: 20px !important;">ID: 01</b>
                    </p>
                    <div class="tbl">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="punkt">Красногорск3</b> | <b class="name">Апартаменты с одной спальней</b>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td class="adres_info">Адрес здесь</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p></p>
            </div>
        </div>

        <div style="left: 237px; width: 512px; height: 286px; top: 50px; opacity: 0; z-index: 1;" class="carousel-feature carousel_small_img">
            <a href="#"><img style="width: 512px; height: 286px;" class="carousel-image" alt="" src="~/Content/images/0_84337400_1418026627_img.jpg" href="#"></a>
            <div style="display: none;" class="carousel-caption">
                <p style="padding:0; margin:0;"></p>
                <div class="info_price" style="z-index:999;">
                    <span>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="80%">
                                        <span class="price_1">3000</span>
                                    </td>
                                    <td class="currency_2">
                                        рублей<br>в сутки
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <div class="allprices">
                        <div class="allprices_title">
                            Стоимость проживания:
                        </div>
                        <div class="allprices_prices">
                            <p class="allprices_list">3000 р/сут<span class="allprices_list_black"> - стандартная стоимость</span></p>
                            <p class="allprices_list">2500 р/сут<span class="allprices_list_black"> - от 7 суток</span></p>
                            <p class="allprices_list">2000 р/сут<span class="allprices_list_black"> - от 30 суток</span></p>
                            <p class="allprices_list">2000 р/ночь<span class="allprices_list_black"> - с 21.00 до 9.00</span></p>
                            <p class="allprices_list">1500 р/3часа<span class="allprices_list_black"> - время любое</span></p>
                            <p class="allprices_list">500 р/час<span class="allprices_list_black"> - каждый последующий</span></p>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="id_pimpa" style="" align="left">
                        <b class="id_p" style="margin-top: 20px !important;">ID: 01</b>
                    </p>
                    <div class="tbl">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="punkt">Красногорск4</b> | <b class="name">Апартаменты с одной спальней</b>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td class="adres_info">Адрес здесь</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <p></p>
            </div>
        </div>

        <div style="left: 0px; width: 512px; height: 286px; top: 50px; opacity: 0.4; z-index: 1;" class="carousel-feature carousel_small_img">
            <a href="#"><img style="width: 512px; height: 286px;" class="carousel-image" alt="" src="~/Content/images/0_52061000_1418467060_img.jpg" href="#"></a>
            <div style="display: none;" class="carousel-caption">
                <p style="padding:0; margin:0;"></p>
                <div class="info_price" style="z-index:999;">
                    <span>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="80%">
                                        <span class="price_1">3000</span>
                                    </td>
                                    <td class="currency_2">
                                        рублей<br>в сутки
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <div class="allprices">
                        <div class="allprices_title">
                            Стоимость проживания:
                        </div>
                        <div class="allprices_prices">
                            <p class="allprices_list">3000 р/сут<span class="allprices_list_black"> - стандартная стоимость</span></p>
                            <p class="allprices_list">2500 р/сут<span class="allprices_list_black"> - от 7 суток</span></p>
                            <p class="allprices_list">2000 р/сут<span class="allprices_list_black"> - от 30 суток</span></p>
                            <p class="allprices_list">2000 р/ночь<span class="allprices_list_black"> - с 21.00 до 9.00</span></p>
                            <p class="allprices_list">1500 р/3часа<span class="allprices_list_black"> - время любое</span></p>
                            <p class="allprices_list">500 р/час<span class="allprices_list_black"> - каждый последующий</span></p>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="id_pimpa" style="" align="left">
                        <b class="id_p" style="margin-top: 20px !important;">ID: 01</b>
                    </p>
                    <div class="tbl">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="punkt">Красногорск5</b> | <b class="name">Апартаменты с одной спальней</b>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td class="adres_info">Адрес здесь</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
        <div style="left: 0px; width: 512px; height: 286px; top: 50px; opacity: 0.4; z-index: 1;" class="carousel-feature carousel_small_img">
            <a href="#"><img style="width: 512px; height: 286px;" class="carousel-image" alt="" src="~/Content/images/0_52061000_1418467060_img.jpg" href="#"></a>
            <div style="display: none;" class="carousel-caption">
                <p style="padding:0; margin:0;"></p>
                <div class="info_price" style="z-index:999;">
                    <span>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="80%">
                                        <span class="price_1">3000</span>
                                    </td>
                                    <td class="currency_2">
                                        рублей<br>в сутки
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    <div class="allprices">
                        <div class="allprices_title">
                            Стоимость проживания:
                        </div>
                        <div class="allprices_prices">
                            <p class="allprices_list">3000 р/сут<span class="allprices_list_black"> - стандартная стоимость</span></p>
                            <p class="allprices_list">2500 р/сут<span class="allprices_list_black"> - от 7 суток</span></p>
                            <p class="allprices_list">2000 р/сут<span class="allprices_list_black"> - от 30 суток</span></p>
                            <p class="allprices_list">2000 р/ночь<span class="allprices_list_black"> - с 21.00 до 9.00</span></p>
                            <p class="allprices_list">1500 р/3часа<span class="allprices_list_black"> - время любое</span></p>
                            <p class="allprices_list">500 р/час<span class="allprices_list_black"> - каждый последующий</span></p>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="id_pimpa" style="" align="left">
                        <b class="id_p" style="margin-top: 20px !important;">ID: 01</b>
                    </p>
                    <div class="tbl">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b class="punkt">Красногорск6</b> | <b class="name">Апартаменты с одной спальней</b>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td class="adres_info">Адрес здесь</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="flat_main_div" >
    <div class="flat_middle_left_div">
        <div class="flat_detail_main">
            <div class="flat_detail_title">
                подробная информация
            </div>
            <div class="flat_detail_more">
                <p>8-й этаж</p>
                <p>Общая площадь 74 м2</p>
                <p>5 раздельных спальных мест</p>
                <p>Размещение до 6-ти человек </p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="flat_options">
            <div class="flat_options_left">
                <p><span class="red_text">&#8226;</span>Кондиционеры "Panasonic" в комнатах</p>
                <p>	Кондиционеры "Panasonic" в комнатах</p>
                <p>	Кондиционеры "Panasonic" в комнатах</p>
                <p>	Кондиционеры "Panasonic" в комнатах</p>
            </div>
            <div class="flat_options_right">
                <p>	Кондиционеры "Panasonic" в комнатах</p>
                <p>	Кондиционеры "Panasonic" в комнатах</p>
                <p>	Кондиционеры "Panasonic" в комнатах</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="flat_left_text">
            &nbsp; Итак, по фотографиям Вы выбрали квартиру, посмотрели ее месторасположение, изучили маршруты движения, необходимые Вам в период пребывания. Удостоверились в том, что данная квартира полностью соответствует Вашим требованиям! Остается связаться с оператором и уточнить актуальность данной квартиры на период Вашего планируемого пребывания, воспользовавшись разделом Контактная информация или заполнив форму запроса. Кнопка расположена внизу страницы с описанием квартиры. При обращении к оператору по телефону, будьте готовы назвать ID номер заинтересовавшей Вас квартиры, а так же интересующие Вас даты размещения. После подтверждения оператором доступности квартиры на период Вашего планируемого пребывания, вы можете перейти непосредственно к бронированию.
        </div>
    </div>
    <div class="flat_middle_right_div">
        <div class="flat_adress_div">
            <p class="flat_adress_title">Адрес:</p>
            <p class="flat_adress_title italic_text not_bold_text">
                М.О. г.Красногорск, Подмосковный бульвар, д.12
            </p>
        </div>
        
        <div class="way_to_flat">
            <div class="map_div">
                <script type="text/javascript">
                    // Создает обработчик события window.onLoad
                    YMaps.jQuery(function () {
                        // Создает экземпляр карты и привязывает его к созданному контейнеру
                        var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

                        // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
                        map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
                        // Создает метку, значок которой не скрывается при открытии балуна
                        var placemark = new YMaps.Placemark(new YMaps.GeoPoint(37.609218,55.753559), {hideIcon: false});

                        // Добавляет метку на карту
                        map.addOverlay(placemark);
                    })
                </script>
                <div id="YMapsID" style="width:300px;height:300px; border-radius: 14px;"></div>
              </div>
            <div class="way_to_flat_title">
                Маршруты проезда:
            </div>
            <ul class="ways_list">
                <li><a href="#">От станции метро "Тушинская" </a></li>
                <li><a href="#">От станции метро "Мякинино" </a></li>
            </ul>
        </div>
    </div>

    

    <div class="clear"></div>
</div>

<div class="bottom_line">&nbsp;</div>
<div class="bottom_button_div">
    <a href="#">
        <div class="bottom_buttonb">
            Забронировать
        </div>
    </a>

</div>