
@{
    ViewBag.Title = "Вопросы и ответы";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<p class="reserv_title">Вопросы и ответы</p>

<div class="quest_and_ansv_left_div">
    <div class="quest_and_ansv_block">
        <p class="quest_and_ansv_question">
            <a href="#">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </a>        
        </p>
        <p class="quest_and_ansv_answer">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
        </p>
    </div>

    <div class="quest_and_ansv_block">
        <p class="quest_and_ansv_question">
            <a href="#">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </a>
        </p>
        <p class="quest_and_ansv_answer">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
        </p>
    </div>

    <div class="quest_and_ansv_block">
        <p class="quest_and_ansv_question">
            <a href="#">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </a>
        </p>
        <p class="quest_and_ansv_answer">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
        </p>
    </div>
</div>

<div class="quest_and_ansv_right_div">
    <div class="quest_and_ansv_form_div">
        <p class="quest_and_ansv_title">
            Задать вопрос
        </p>
        <p class="quest_and_ansv_text">
            Вы можете задать интересующий Вас вопрос, и наши специалисты ответят Вам на него как можно быстрее.
        </p>
        <div class="quest_and_ansv_form">
            <p class="form_label">Ваше имя:</p>
            <input type="text" name="" class="quest_and_ansv_form_input" />
            <p class="form_label">Адрес эл. почты:</p>
            <input type="text" name="" class="quest_and_ansv_form_input" />
            <p class="form_label">Ваш вопрос:</p>
            <textarea name="" class="quest_and_ansv_form_big_input" ></textarea>
            <input type="checkbox" name="" class="quest_and_ansv_form_checkbox_inp" /> <span class="quest_and_ansv_form_checkbox">Уведомить об ответе по электронной почте</span>
            <input type="submit" name="" value="Получить ответ" class="quest_and_ansv_form_submit_button" />
        </div>
    </div>
    <br />
</div>
<div class="clear"></div>
<hr/>

<p class="once_question_title">
    Вы можете задать интересующий Вас вопрос, и наши специалисты ответят Вам на него как можно быстрее?
</p>

<p class="once_question_date_and_author">
    (12.06.2013) <span class="once_question_author">Андрей</span>
</p>

<p class="once_question_answer">
    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
</p>

<p class="once_question_date_and_author">
    (13.06.2013) <span class="once_question_author">Администратор</span>
</p>
 

<a href="#" class="once_question_back_button">
        <p class="once_question_back_button_div">
            Вернуться в раздел
        </p>
</a>

<br/>


