
@{
    ViewBag.Title = "Бронирование и оплата";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
}

<p class="reserv_title">Бронирование и оплата</p>
<div class="article_shift">
    <p class="main_page_info_text">Итак, по фотографиям Вы выбрали квартиру, посмотрели ее месторасположение, изучили маршруты движения, необходимые Вам в период пребывания. Удостоверились в том, что данная квартира полностью соответствует Вашим требованиям! Остается связаться с оператором и уточнить актуальность данной квартиры на период Вашего планируемого пребывания, воспользовавшись разделом &nbsp;<a href="http://www.sutkihouse.nordor.biz/contacts/"><em class="red_text">Контактная информация</em></a>&nbsp;или заполнив форму запроса. Кнопка&nbsp;расположена внизу страницы с описанием квартиры. При обращении к оператору по телефону, будьте готовы назвать&nbsp;<strong>ID</strong>&nbsp;номер заинтересовавшей Вас квартиры, а так же интересующие Вас даты размещения. После подтверждения оператором доступности квартиры на период Вашего планируемого пребывания, вы можете перейти непосредственно к бронированию.</p></p>
     <p class="main_page_info_text">Итак, по фотографиям Вы выбрали квартиру, посмотрели ее месторасположение, изучили маршруты движения, необходимые Вам в период пребывания. Удостоверились в том, что данная квартира полностью соответствует Вашим требованиям! Остается связаться с оператором и уточнить актуальность данной квартиры на период Вашего планируемого пребывания, воспользовавшись разделом &nbsp;<a href="http://www.sutkihouse.nordor.biz/contacts/"><em class="red_text">Контактная информация</em></a>&nbsp;или заполнив форму запроса. Кнопка&nbsp;расположена внизу страницы с описанием квартиры. При обращении к оператору по телефону, будьте готовы назвать&nbsp;<strong>ID</strong>&nbsp;номер заинтересовавшей Вас квартиры, а так же интересующие Вас даты размещения. После подтверждения оператором доступности квартиры на период Вашего планируемого пребывания, вы можете перейти непосредственно к бронированию.</p></p>
</div>

